@charset "utf-8";


/* ----------------------------------------

mv

---------------------------------------- */
#mv {
	min-height: 200px;
}
#mv .txt {
	width: 60%;
}
#mv .img {
	width: 35%;
}
#mv .lead {
	font-size: 1.5rem;

}
#mv .inner {
	display: flex;
  justify-content: space-between;
}
#mv #update {
  margin-bottom: 20px;
  text-align: right;
}
#mv #update p {
	display: inline-block;
	margin-right: 20px;
	padding-left: 20px;
	position: relative;
}
#mv #update p:before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 1.8rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
	-webkit-transform: translateY(-50%); /* Safari用 */
	transform: translateY(-50%);
}
#mv #update p:nth-child(2)::before {
    content: "\f021";
}
@media screen and (max-width:767px){
	#mv .inner {
		display: block;
	}
	#mv .txt {
		width: 100%;
		margin: 40px auto;
	}
	#mv .img {
		width: 100%;
	}

}

/* ----------------------------------------

genre

---------------------------------------- */
#genre {
	background-color: #14ba69;
	overflow: hidden;
}
#genre .inner {
	margin-top: 10px;
	margin-bottom: 10px;
}
ul#tagArea {
	font-size:0;/* inline-block隙間用*/
	margin-bottom: 20px;
	margin-left: -10px;
	margin-top: -10px;
}
#tagArea > li {
	font-size: 1rem;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

#tagArea li a{
	color: #14ba69;
	display: block;
  padding: 3px 5px;
	text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #14ba69;
}
#tagArea .category {
	margin-right: 20px;
	position: relative;
}
#tagArea .category a {
	background-color: #14ba69;
  /* border-color: #fff; */
  color: #fff;
  font-weight: bold;
}
#tagArea .category::after {
  content: ">";
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

/* ----------------------------------------

mokuji

---------------------------------------- */
#mokuji {
	width: 70%;
	margin: 0 auto;
  position: relative;
}
#mokuji > .ttl {
	display: inline-block;
	font-size: 1.5rem;
	background-color: #333;
	color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 5px 20px;
	margin-left: 20px;
}
#mokuji .mokujiList {
	border: 1px solid #333;
	background-color: #fff;
  border-radius: 6px;
  padding: 20px;
}
#mokuji .mokujiList li {
  border-left: 6px solid #14ba69; 
}
#mokuji .mokujiList li:nth-child(odd) {
  border-left: 6px solid #cce7da; 
 }
#mokuji .mokujiList li a {
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	line-height: 1.5;
  border-bottom: 1px dotted #cce7da;
  margin-left: 10px;
  padding: 10px
}
#mokuji .mokujiList li a:hover {
	opacity: .7;
}

.pr01 {
	width: 100%;
	text-align: center;
}
@media screen and (max-width:767px) {
	#mokuji,
	.pr01 {
		width: 100%;
	}
}


/* ----------------------------------------

content

---------------------------------------- */
.txt,
.img {
	margin-bottom: 20px;
}
.img {
	text-align: center;
}
.txt p.lead {
	margin-bottom: 1em;
}
.txt p.lead:last-child {
	margin-bottom: 0;
}

.point {
	border: 1px double #14ba69;
	padding: 20px;
}
.reference {
	background-color: #eee;
	padding: 20px;
}

pre {
	white-space: pre-wrap ;
}


/* ----------------------------------------

clearfix

---------------------------------------- */

/* Modern Browsers
------------------------------- */
#mv #update:after,
#genre:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	line-height: 0;
}

/* Legacy IE
------------------------------- */
#mv #update,
#genre  {
	*zoom: 1;
}